.tk_footer_area{
    padding: 0px 20px;
    @include sm{
        padding: 0px 10px;
    }
        .footer_area_quick_menu{
            @include flex(row, space-between, flex-start);
            flex-wrap: wrap;
            margin-top: 120px;
            padding-bottom: 40px;
            @include sm{
                gap: 40px;
            }
            @include md{
                gap: 40px 0px;
            }
            @include nesthub{
                gap: 40px 0px;
            }
                        
            .iteam_content{
                h3{
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 44px;
                    color: $white;
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    font-family: $font-family;
                    text-transform: lowercase;
                    color: $gray2;
                    margin-top: 16px
                }
            }
            
            .quicklink{
                @include flex(column, flex-start, flex-start);
                height: 100%;
            ul{
                margin: 0px;
                padding: 0px;
                padding-left: 20px;
                @include flex(column, flex-start, flex-start);
                gap: 10px;
                margin-top: 20px;
                li{
                    a{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        text-transform: capitalize;
                        color: $gray2;
                        i{
                            margin-right: 10px;
                        }
                    }
                    &:hover a{
                        @include transition(0.3s);
                        color: $primary;
                    }
                    
                }
            }
            
                h3{
                    font-weight: 500;
                    font-size: 24px;
                    padding-left: 20px;
                    line-height: 36px;
                    color: $white;
                    
                }
               
            }
            
        }

        .footer_last{
            p{
                
                font-weight: 400;
                font-size: 16px;
                color: $white;
                opacity: 0.8;
            }
            @include nesthub{ 
                margin-top: -17px;
            }
            @include sm{
                margin-top: -32px;
                justify-content: flex-start;
                gap: 10px;
            }
            padding-bottom: 20px;
            padding-top: 20px;
            @include md {
                .footer_last_menu{
                    gap:20px;
                    ul{
                        justify-content: flex-start !important;
                        padding: 0;
                        margin-top: 10px;
                    }
                }
            }
            min-height: 44px;
            @include flex(row, space-between, flex-end);
            flex-wrap: wrap;
            border-top: 1px solid rgba(193, 193, 193, 0.300);
            width: 100%;
            .footer_last_menu{
                @include sm{
                    margin-bottom: -10px;
                }
                ul{
                    @include flex(row, flex-end, flex-end);
                    margin: 0px;
                    gap: 20px;
                    @include sm{
                        justify-content: flex-start;
                        padding: 0;
                    }
                    li{
                        text-align: left;
                        width: 100%;
                        width: fit-content !important;
                        a{
                            
                            font-weight: 400;
                            font-size: 16px;
                            color: $white;
                            opacity: 0.8;
                            @include transition(0.4s);
                            &:hover{
                                color: $primary;
                                margin-bottom: 5px;
                }
                            
                        }
                    }
                }
            }
        }
        .footer_last_area{
            background-color: $primary;
        }
    
}