.tk_abou_us_area{
    margin-top: 120px;
    @include nesthubmax{
        margin-top: 100px;
    }
    @include nesthub{
        margin-top: 90px;
    }
    @include md{
        margin-top: 80px;
    }
    @include sm{
        margin-top: 75px;
    }
    .tk_heading_area{
        border-bottom: 1px solid #dedede;
        border-radius: 32px;
        padding: 68px 0px;
        // @include nesthub{
        //     padd
        // }
        @include md{
            padding: 40px 30px;
        }
        @include sm{
            padding: 40px 30px;
        }
        width: 100%;
        background: #f8f6f9;
        .tk_description{
            p{
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                color: $gray8;
                @include md{
                    br{
                        display: none;
                    }
                }
                @include sm{
                    br{
                        display: none;
                    }
                }
            }
        }
    }
}

.tk_linda_area{
    margin-top: 68px;
    margin-bottom: 120px;
    @include nesthubmax{
        margin-bottom: 100px;
    }
    @include nesthub{
        margin-bottom: 90px;
    }
    @include md{
        margin-bottom: 85px;
    }
    @include md{
        margin-bottom: 75px;
    }
    .tk_linda_content_style_1{
        padding-right: 22px;
        @include nesthub{
            padding-right: 10px;
        }
        @include md{
            padding-right: 0px;
        }
        @include sm{
            padding-right: 0px;
        }
    }
    .tk_linda_content_style_2{
        padding-left: 22px;
        @include nesthub{
            padding-left: 10px;
        }
        @include md{
            padding-left: 0px;
        }
        @include sm{
            padding-left: 0px;
        }
    }
    .tk_linda_details{
        &.style_1{
            margin-top: 40px;
            @include nesthub{
                margin-top: 20px;
            }
            @include md{
                margin-top: 20px;
            }
            @include sm{
                margin-top: 20px;
            }
        }
        .heading{
            margin-bottom: 40px;
            @include nesthub{
                margin-bottom: 20px;
            }
            @include md{
                margin-bottom: 20px;
            }
            @include sm{
                margin-bottom: 20px;
            }
            h2{
                font-weight: 500;
            font-size: 56px;
            line-height: 68px;
            @include nesthub{
                font-size: 48px;
                line-height: 58px;
            }
            @include md{
                font-size: 48px;
                line-height: 58px;
            }
            @include sm{ 
                font-size: 42px;
                line-height: 40px;
            }
            letter-spacing: -0.01em;
            color: $gray9;
            span{
                color: #8300e6;
            }
            }
        }
        .tk_description{
            &.style_1{
                margin-top: 16px;
                @include nesthub{
                    margin-top: 12px;
                }
                @include md{
                    margin-top: 12px;
                }
                @include sm{
                    margin-top: 12px;
                }
            }
            p{
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: $gray8;
                @include nesthub{
                    font-size: 16px;
                    line-height: 22px;
                }
                @include md{
                    font-size: 16px;
                    line-height: 22px;
                }
                @include sm{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
        h4{
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: $gray9;
            margin-top: 16px;
            @include nesthub{
                margin-top: 12px;
            }
            @include md{
                margin-top: 12px;
            }
            @include sm{
                margin-top: 12px;
            }
        }
        .tk_founder_meta{
            margin-top: 68px;
            @include nesthub{
                margin-top: 30px;
            }
            @include md{
                margin-top: 30px;
            }
            @include sm{
                margin-top: 30px;
            }
            h3{
                font-family: $third-family;
                font-style: italic;
                font-weight: 600;
                font-size: 56px;
                line-height: 68px;
                @include nesthub{
                    font-size: 48px;
                    line-height: 58px;
                }
                @include md{
                    font-size: 48px;
                    line-height: 58px;
                }
                @include sm{
                    font-size: 48px;
                    line-height: 58px;
                }
                letter-spacing: -0.01em;
                color: #8300e6;
               span{
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: $gray8;
               } 
            }
        }
        .tk_btn_wrapper{
            margin-top: 32px;
            @include nesthub{
                margin-top: 16px;
            }
            @include md{
                margin-top: 16px;
            }
            @include sm{
                margin-top: 16px;
            }
        }
    }
    .tk_linda_image{
        width: 100%;
        height: 648px;
        @include nesthub{
            height: 400px;
        }
        @include md{
            height: 400px;
        }
        @include sm{
            height: 400px;
        }
        &.style_1{
            margin-top: 40px;
            @include nesthub{
                margin-top: 20px
            }
            @include md{
                margin-top: 20px
            }
            @include sm{
                margin-top: 20px
            }
        }
        &.style_2{
            @include md{
                margin-top: 30px
            }
            @include sm{
                margin-top: 30px
            }
        }
        img{
            @include border-radius(32px);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}